<div class="forgotpassword">
  <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword(forgotForm)" class="w-75 mx-auto mt-5">
    <label for="email">email</label>
    <input type="email" class="form-control my-2" id="email" formControlName="email">

    <div class="alert alert-danger"
      *ngIf="forgotForm.get('email')?.errors && (forgotForm.get('email')?.touched || forgotForm.get('email')?.value.length > 0)">
      <p *ngIf="forgotForm.get('email')?.getError('required')">email is required</p>
      <p *ngIf="forgotForm.get('email')?.getError('email')">email invalid format</p>

    </div>
    <p *ngIf="succesMessage.length" class="text-main alert alert-success">{{succesMessage}}</p>
    <p *ngIf="errorMessage.length" class="text-danger alert alert-danger">{{errorMessage}}</p>
    <button class=" btn bg-main main-btn">send</button>
  </form>
</div>




<div class="VerfiyPassword d-none">
  <form [formGroup]="VerfiyForm" (ngSubmit)="VerfiyCode(VerfiyForm)" class="w-75 mx-auto mt-5">
    <label for="resetCode">resetCode</label>
    <input type="resetCode" class="form-control my-2" id="resetCode" formControlName="resetCode">

    <div class="alert alert-danger"
      *ngIf="forgotForm.get('resetCode')?.errors && (forgotForm.get('resetCode')?.touched || forgotForm.get('resetCode')?.value.length > 0)">
      <p *ngIf="forgotForm.get('resetCode')?.getError('required')">resetCode is required</p>
      <!-- <p *ngIf="forgotForm.get('resetCode')?.getError('resetCode')">resetCode invalid format</p> -->

    </div>
    <!-- <p *ngIf="succesMessage.length" class="text-main alert alert-success">{{succesMessage}}</p> -->
    <p *ngIf="errorMessage_2.length" class="text-danger alert alert-danger">{{errorMessage_2}}</p>
    <button class=" btn bg-main main-btn">send</button>
  </form>
</div>