<form [formGroup]="resetForm" (ngSubmit)="resetPassword(resetForm)"
  class=" rounded shadow w-75 mx-auto bg-light-main p-5 mt-5">

  <h1 class=" text-center">Reset Password : </h1>
  <!-- <p>{{resetForm.get('name')?.getError('required')}}</p> -->


  <div class="form-item">
    <label for="email">email</label>
    <input class="form-control mb-3" type="email" id="email" formControlName="email">

    <!-- <mat-form-field [numeric]="true">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field> -->

    <mat-form-field>
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>


    <div class="alert alert-danger"
      *ngIf="resetForm.get('email')?.errors && (resetForm.get('email')?.touched || resetForm.get('email')?.value.length > 0)">
      <p *ngIf="resetForm.get('email')?.getError('required')">email is required</p>
      <p *ngIf="resetForm.get('email')?.getError('email')">email invalid format</p>

    </div>

  </div>

  <div class="form-item">
    <label for="newPassword">newPassword</label>
    <input class="form-control mb-3" type="password" id="newPassword" formControlName="newPassword">

    <div class="alert alert-danger"
      *ngIf="resetForm.get('newPassword')?.errors && (resetForm.get('newPassword')?.touched || resetForm.get('newPassword')?.value.length > 0)">
      <p *ngIf="resetForm.get('newPassword')?.getError('required')">newPassword is required</p>
      <p *ngIf="resetForm.get('newPassword')?.getError('pattern')">newPassword confirmation is incorrect</p>

    </div>

  </div>


  <button type="submit" class="main-btn d-block ms-auto" [disabled]="resetForm.invalid">
    Reset New Password <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
  </button>
  <p *ngIf="errorMessage.length > 0" class="text-danger alert alert-danger">{{errorMessage}}</p>


</form>