<section class="py-4">
  <h1 class=" ">All Products</h1>

  <h2 class=" mt-2 h1 text-center">To Search for any Products</h2>
  <input type="text" class="form-control w-50 mx-auto my-3" placeholder="Search..." [(ngModel)]="term">

  <!-- <input type="text" class="form-control custom-input" placeholder="Search..." [(ngModel)]="term"> -->

  <div class="row g-4 justify-content-center">


    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3"
      *ngFor="let item of productsData | paginate: { id: 'productPaginate', itemsPerPage: pageSize, currentPage: currentPage, totalItems: total } |search : term| slice:0:18">

      <div class="card p-2" data-aos="zoom-in-up" data-aos-easing="ease-in-cubic" data-aos-duration="1300">
        <div role="button" [routerLink]="['/details', item._id]">
          <img [src]="item.imageCover" alt="" class="w-100">
          <div class="product-details">
            <h4 class="text-main h6">{{item.category.name}}</h4>
            <h4 class="h6">{{item.title|cutText}}</h4>
            <!-- *--------->
            <!-- *--------->
            <!-- *--------->
            <!-- *--------->

            <div class=" d-flex justify-content-between align-items-center">
              <span>{{item.price | currency:"EGP"}}</span>
              <!-- rating-color -->
              <span><i [class.rating-color]="roundNumber(item.ratingsAverage) >= num" *ngFor="let num of [1,2,3,4,5]"
                  class="fas fa-star "></i>
                {{item.ratingsAverage}}</span>
            </div>
          </div>
        </div>


        <div class="heart d-flex justify-content-center align-items-center">
          <i *ngIf="!wishListData.includes($any(item._id))" class="fa-solid fa-heart" role="button"
            (click)="addToWish(item._id)" matTooltip="add to wishlist" matTooltipPosition="above"></i>
          <i *ngIf="wishListData.includes($any(item._id))" class="fa-solid fa-heart redColor" role="button"
            (click)="removFromWishList(item._id)" matTooltip="remove from wishlist" matTooltipPosition="above"></i>
        </div>


        <div>
          <button class="btn main-btn w-100" (click)="addProduct(item._id)">+Add To Cart</button>
        </div>
      </div>
    </div>
  </div>


  <div class="d-flex justify-content-center my-5">
    <pagination-controls id="productPaginate" (pageChange)="pageChanged($event)"
      (pageBoundsCorrection)="pageChanged($event)" [maxSize]="9" [directionLinks]="true" [autoHide]="true"
      [responsive]="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>

</section>