.btn-home {
  background-color: #ffcc8e;
  color: black;
}


.fade {
  // transition: all 300ms ease;
  background-color: #ffcc8e;
  display: inline-block;
  padding: 5px;
}

#hello {
  background-color: #ffcc8e;
  display: inline-block;
  padding: 5px;
}
