<form [formGroup]="LoginForm" (ngSubmit)="handleLogin()" class=" rounded shadow w-75 mx-auto bg-light-main p-5 mt-5">


  <!-- <p>{{LoginForm.get('name')?.getError('required')}}</p> -->


  <div class="form-item">
    <label for="email">email</label>
    <input class="form-control mb-3" type="email" id="email" formControlName="email">

    <div class="alert alert-danger"
      *ngIf="LoginForm.get('email')?.errors && (LoginForm.get('email')?.touched || LoginForm.get('email')?.value.length > 0)">
      <p *ngIf="LoginForm.get('email')?.getError('required')">email is required</p>
      <p *ngIf="LoginForm.get('email')?.getError('email')">email invalid format</p>

    </div>

  </div>



  <div class="form-item">
    <label for="password">password</label>



    <div class="form-group row">
      <div class="col position-relative">
        <input class="form-control mb-3" [type]="passwordVisible ? 'text' : 'password'" placeholder="Password"
          [(ngModel)]="password" id="password" formControlName="password" />
        <a (click)="togglePasswordVisibility()" class="eyeIcon position-absolute translate-middle-y"
          style="cursor: pointer;">
          <i id="eyeIcon" class="fa-solid"
            [ngClass]="{ 'fa-eye-slash': !passwordVisible, 'fa-eye': passwordVisible }"></i>
        </a>
      </div>
    </div>



    <div class="alert alert-danger"
      *ngIf="LoginForm.get('password')?.errors && (LoginForm.get('password')?.touched || LoginForm.get('password')?.value.length > 0)">
      <p *ngIf="LoginForm.get('password')?.getError('required')">password is required</p>
      <p *ngIf="LoginForm.get('password')?.getError('pattern')">Password confirmation is incorrect</p>

    </div>

  </div>


  <button type="submit" class="main-btn d-block ms-auto" [disabled]="LoginForm.invalid">
    Login <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
  </button>
  <p class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</p>

  <a href=" mx-3 text-main" routerLink="/forgetPassword">forgot password ...</a>

  <!-- <hr>


  <mat-form-field class="custom-mat-form-field">
    <mat-label>Input</mat-label>
    <input matInput class="input_material">
  </mat-form-field> -->
</form>